.podlist h2{
  background-color: blanchedalmond;
  border-radius: 10px;
}

#spacer{
  height: 100px;
}

input[type="text"] {
  width: 150px;
  margin: 0 3px; 
}

input[type="submit"] {
  font-size: 18px; 
}

input[name="description"] {
  height: 50px;
  width: 300px;
}
h3{
  text-align: center;
}
h3 a:hover{
  cursor: pointer;
  color: #4cb5f5;
  font-weight: 700;
}
span{
  margin-left: 50px;
}
span:hover{
  cursor: pointer;
  color: firebrick;
  font-weight: 700; 
}
